<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <hibernate-mapping>
    </hibernate-mapping>
    <session-factory>
        <!-- Configurazione del driver JDBC e dell'URL di connessione -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clothlogix?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">fabless</property>
        <!-- Specifica la dialettica del database -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!-- Impostazioni di gestione dello schema e delle transazioni -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- Configurazione della cache di secondo livello -->
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <!-- Specifica i package dove Hibernate cerca le classi annotate -->
        <mapping package="com.example.clothlogix.model.entities"/>
    </session-factory>

</hibernate-configuration>
